<div>
    <img class="bordered-2" src="../../assets/images/Strawberry_Ice_cream.PNG"
        style="border-radius: 50%; width: 15vw; position: fixed; left: 10vw; top: 20vh; opacity: .7;" alt="">
    <span class="Sweet"
        style="position: fixed; left: 15vw; top: 47vh; opacity: .7; font-size:xx-large">Strawberry</span>
</div>

<div [@fadeIn]>
    <form class=" rounded m-2 mx-auto shading lav-color bordered"
        style="width: 20vw; color: rgb(88 59 162);" (submit)="sendLogin($event)">
        
        <h6 class="text-center my-2 Cheese" style="font-size: 200%;">Login</h6>
        <hr width="80%" style="left:10%; position: relative;">
       
        <div class="m-3">
            <label for="exampleInputEmail1" class="form-label Cheese">User</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="user" name="user" style="color:rgb(88 59 162);">
            <div id="emailHelp" class="form-text"
                style="color:rgb(172, 161, 200); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                We'll never share your email with anyone else.</div>
        </div>
       
        <div class="m-3">
            <label for="exampleInputPassword1" class="form-label Cheese">Password</label>
            <input [type]="showPassword ? 'password' : 'text'" class="form-control" id="exampleInputPassword1"
                [(ngModel)]="pass" name="pass" style="color:rgb(88 59 162); ">
            <i class="bi bi-eye-fill " [class.text-primary]="eyeHover" (mouseenter)="onHover()"
                (mouseleave)="onHoverEnd()" (click)="reveal()"></i>
        </div>
        
        <button type="submit" class="btn btn-outline-primary m-3">Go!.</button>
        
        <div class="text-center " > 
            <span *ngIf="loading" class="spinner-border spinner-border-sm " style="color: rgb(88 59 162); position: absolute; top: 21rem;" role="status" aria-hidden="true"></span>
        </div>
        

    </form>


</div>

<!--alertas del login-->
<app-alert [verified]="userVerified" [showAlert]="showAlertBox" />