/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.css';
@import './../node_modules/bootstrap-icons/font/bootstrap-icons.css';


@font-face {
    font-family: 'CreamCake';
    src: url('../src/assets/fonts/Cream_Cake.otf') format('otf');
  }

@font-face {
    font-family: 'BitCheese';
    src: url('../src/assets/fonts/Bitcheese.otf') format('truetype');
  }

@font-face {
    font-family: 'Sweet_Romance';
    src: url('../src/assets/fonts/Sweet_Romance.otf') format('truetype');
  }

  .Sweet {
    font-family: 'Sweet_Romance', sans-serif;
  }

  .Cheese {
    font-family: 'BitCheese', sans-serif;
  }

  .creamCake {
    font-family: 'CreamCake';
  }

.shading{
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.15);
}

.lav-color{
  background-color: lavender;
}

.bordered{
  
  border: 2px solid rgb(0, 0, 0, 0.15) ;
}

.bordered-1{
  
  border: 1px solid rgb(0, 0, 0, 0.15) ;
}

.bordered-2{
  border: 5px solid rgb(0, 0, 255, 0.15) ;
}

.bordered-3{
  border: 5px solid rgba(32, 44, 63, 0.15) ;
}


.strBrrIce{ 
  background-color: rgb(255 202 202);
  
}

.textStraw {
  color: rgb(180 82 82);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  text-decoration: none;
}

.textStraw:hover {
  color: rgb(107, 49, 49);
  text-decoration:underline;
}


.strwtext{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.outline-text {
  -webkit-text-stroke-width: 1px; /* Set the width of the text stroke */
  -webkit-text-stroke-color: rgb(41, 41, 41); /* Set the color of the text stroke */
}