<div class="container">
    <div class="row">
        <div class="bordered strwtext strBrrIce" style="bottom: -9vh; position: absolute; width: 100vw; left: 0; display: inline;">
            <ul> Contacme!.
                <li style="font-size: smaller;">Cel: 3336777997</li>
            </ul>
            
            <div class="strwtext" style="display: inline;">Mision and vision</div>
        </div>
    </div>
</div>