<div class="mx-auto text-center" [@fadeIn]>
    <img src="../../assets/images/gnhulq_e0a1a1d626c372ca0e707ae3d0d4bdb7a55dfece.jpg" class="rounded"
        style="width: 50vw; margin-top: 2%;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <p class="rounded "
            style="position: fixed; color: rgb(205, 205, 205); left:15vw;  top: 16vh; font-size: 150%; background-color: rgba(0, 0, 0, .5);">
            Ice Cream Blog</p>
        <p class="rounded outline-text"
            style="position: fixed; color: white; bottom: 300px; font-size: 300%; background-color: rgba(0, 0, 0, .5);">
            Taste the Sweetness of Creative Musings</p>
        <p class="rounded "
            style="position: fixed; color: rgb(205, 205, 205); left:59vw;  bottom: 250px; font-size: 150%; background-color: rgba(0, 0, 0, .5);">
            A web site by Pablo Hernández</p>
    </div>
    <div class="rounded bordered"
        style="position: fixed; color: rgb(33, 92, 192); left:5vw;  top: 50vh; font-size: 150%; background-color: rgba(72, 176, 246, 0.5);">
        <p class="m-3"><a href="sign" (click)="goToSignin($event)" class="strwtext textStraw"> If you don´t have an account <i class="bi bi-check-circle-fill"></i>  Signin   </a></p>
        <p class="m-3">to get offers!</p>
    </div>

</div>