<style>
    .tooShort{
        border-color: crimson;
    }

    .hoverEye:hover {
        color: rgb(195, 43, 226);
    }

</style>
<div [@fadeIn]>
    <form class=" rounded m-2 mx-auto shading lav-color bordered"
        style="width: 30vw; color: rgb(88 59 162); font-size: small;" (submit)="sendUser($event)">
        <h6 class="text-center my-2 Cheese" style="font-size: 200%;">Signin Up</h6>
        <hr width="80%" style="left:10%; position: relative;">
        <div class="m-3">
            <label for="exampleInputEmail1" class="form-label Cheese">User</label>
            <input required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [class.is-invalid]="isInvalidUser" [class.tooShort]="usrTooShort" [(ngModel)]="userField" name="user"
                style="color:rgb(88 59 162); font-size: smaller !important;">
            <div id="emailHelp" class="form-text"
                style="color:rgb(172, 161, 200); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                We'll never share your email with anyone else.</div>
            <div class="invalid-feedback">
                Please enter an user name.
            </div>
        </div>
        <div class="m-3">
            <label for="exampleInputPassword1" class="form-label Cheese">Password</label>
            <input [type]="showPassword ? 'password' : 'text'" class="form-control" id="exampleInputPassword1"
                [class.is-invalid]="isInvalidPass" [(ngModel)]="passField" name="pass"
                style="color:rgb(88 59 162); font-size: smaller">
            <i class="bi bi-eye-fill " [class.hoverEye]="eyeHover" (mouseenter)="onHover()"
                (mouseleave)="onHover()" (click)="reveal()"></i>
            <div class="invalid-feedback">
                missing password
            </div>
        </div>
        <div class="m-3">
            <label for="confirmPass" class="form-label Cheese">Confirm password</label>
            <input required [type]="showConf ? 'password' : 'text'" class="form-control hoverEye" id="confirmPass"
                [class.is-invalid]="isInvalidConf" [(ngModel)]="conf" name="pass"
                style="color:rgb(88 59 162); font-size: smaller">
            <i class="bi bi-eye-fill " [class.hoverEye]="eyeHover" (mouseenter)="onHover()"
                (mouseleave)="onHover()" (click)="revealConf()"></i>
            <div class="invalid-feedback">
                You need to confirm
            </div>
        </div>

        <select required name="country" id="country" [(ngModel)]="selectedCode"
            style="color:rgb(88 59 162); border-color: rgb(159 121 176); background-color: lavender;   overflow-y: auto; "
            class="rounded m-3">
            <option *ngFor="let code of codes" class="rounded" [value]="code">{{code}}</option>
        </select>
        <button type="submit" class="btn btn-outline-primary m-3">Go!.</button>
    </form>

    <div style="float: right; padding: 1%; background-color: rgba(0,0,0,.1); color: rgba(0, 0, 0, .5);" class="rounded border">
        <div>
            Username rectrictions
            <ul>
                <li>The user name sould have at least 5 characters</li>
            </ul>
        </div>
    </div>

    <div class="bordered rounded" style="position: fixed;
    left: 55%;
    background-color: rgb(0 160 255 / 20%);
    color: rgb(108 120 181);
    top: 25%;
    z-index: -1; box-shadow: 5px 5px 5px rgba(0,0,0,.1);">
        <span style="margin-left: 10vw; margin-right: 1vw;">{{userAvailable}}</span>
    </div>

</div>